name: MacOS

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: set OpenSSL environment variable
      uses: allenevans/set-env@v1.0.0
      with:
        OPENSSL_ROOT_DIR: '/usr/local/opt/openssl'
    - name: CMake set-up
      run: cmake -DCMAKE_BUILD_TYPE=Release .
    - name: make
      run: make
    - uses: actions/upload-artifact@v2
      with:
        name: srt_to_udp_server
        path: ./srt_to_udp_server
    
